fieldset {
    padding: 16px;
    border-radius: 8px;
    font-size: 16px;
    color: #222;
    background: rgba(255,255,255,1);
    border: 1px solid #000;
}
fieldset:active {
    background: rgba(245,245,245,0.9);
    transition-property: background;
    transition-duration: 0.3s;
}