{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> {% block meta %}{% endblock meta %}
    <Meta name=“subject” content="Auto invoicing system">
    <Meta name=“author” content="Mike Zinyoni {mzinyoni7@outlook.com}">
    <Meta name=“copyright” content="asoft 2021 allrights reserved">

</head>

    <body>
        
        {% block body %}
            
        {% endblock body %}
            
    </body>

</html>