{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"> {% block meta %}{% endblock meta %}
    <Meta name=“subject” content="Auto invoicing system">
    <Meta name=“author” content="Mike Zinyoni {mzinyoni7@outlook.com}">
    <Meta name=“copyright” content="nanosoft 2020 allrights reserved">



    <!-- Favicons -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">
    <link href="{% static 'img/favicon.ico' %}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Libraries CSS Files -->
    <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/ionicons/css/ionicons.min.css' %}" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>

    <body>
        
        {% block body %}
            
        {% endblock body %}
            
    </body>
    <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'lib/jquery/popper.min.js' %}"></script>
    <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script crossorigin src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>

    

    <!-- Main Javascript File -->
    <script src="{% static 'js/main.js' %}"></script>

</html>